body{
    font-family: 'PT Serif', serif;
    font-size: 1.2em; 
    font-weight: 300; 
    letter-spacing: 0.01em;
    line-height:  1.6;
    color: aliceblue;
    background-color: black;    
    text-align: center; 
}

.logo-wrapper{
    display: inline-block; 
     
    height:40vh;
    padding: 2vh 2vw 2vh 2vw;
}
.logo-wrapper img{
  
    height: 100%;

}

.header-wrapper{

}

.text-wrapper{
    display: inline-block;
    width: 60%;
    text-align: justify; 
}



@media (max-width: 2480px){
    .text-wrapper{
        width: 40%;
    }
}

@media (max-width: 1200px){
    .text-wrapper{
        width: 60%;
    }
}


@media (max-width: 900px){
    .text-wrapper{
        width: 75%;
    }
}

@media (max-width: 600px){
    .text-wrapper{
        width: 90%;
    }
}