body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    letter-spacing: 0.01em;
    line-height: 1.6;
    color: white;
    background-color: #212121;
    margin: 0;
}

/* Fonts */
@font-face {
    font-family: Gotham;
    font-weight: bold;
    src: url(../fonts/Gotham-Bold.ttf) format('truetype');
}

/* Content */

.gwu-content {
    display: block;
    margin: auto;
    max-width: 1200px;
    padding: 0 30px;
    color: #ababab;

    &.is-mid {
        max-width: 700px;
    }

    h1 {
        font-size: 3em;
        margin-bottom: 0;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: Gotham, sans-serif;
        color: white;
    }

    b {
        color: white;
    }

    a {
        color: white;
        text-decoration: none;
        border-bottom: 2px solid white;
    }

    ul {
        list-style-type: square;

        li {
            margin: .5em 0;
        }

        &.fa-ul {
            margin-left: 1.5em;
            list-style-type: none;
            @media (max-width: 350px) {
                margin-left: .5em;
            }

            li {
                a {
                    border: none;
                }

                i:first-child {
                    margin-right: 10px;
                    color: white;
                }
            }
        }
    }
}

@import "./elements/landing";
@import "./elements/nav";

/* Footer */

.gwu-footer {
    height: 50px;
}

/* Header */

.gwu-header {
    height: 100px;
    max-width: 1200px;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 2em;
    padding: 0 30px;
}

.gwu-header-content {
    border-bottom: 10px solid white;
    display: flex;
    justify-content: center;
    align-items: stretch;
    position: relative;

    @media (max-width: 530px) {
        .gwu-nav-toggle {
            margin-left: -15px;
        }
    }
}

.gwu-header-title {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    white-space: nowrap;
    margin-right: 30px;
}

.gwu-header-title h1 {
    margin: 0 0 0 0;
    line-height: 1em;
    font-family: Gotham, sans-serif;
}

.gwu-header-title h1 a {
    text-decoration: none;
    color: inherit;
}

.gwu-header-hand {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
}

@media (max-width: 850px) {
    .gwu-header-title {
        display: none;
    }
}
