body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em; 
    font-weight: 300; 
    letter-spacing: 0.01em;
    line-height:  1.6;
    color: white;
    background-color: #212121;    
    margin: 0;
}

/* Fonts */
@font-face {
    font-family: Gotham;
    font-weight: bold;
    src: url(../fonts/Gotham-Bold.ttf) format('truetype');
}

/* Content */

.gwu-content {
    display: block;
    margin: auto;
    max-width: 700px;
    padding: 0 30px;
    /* font-family: Gotham, sans-serif; */
}

.gwu-content h2 {
    font-family: Gotham, sans-serif;
}

.gwu-content p {
    color: #ababab;
}

.gwu-content b {
    color: white;
}

.gwu-content a {
    color: white;
    text-decoration: none;
    border-bottom: 2px solid white;
}

.gwu-content ul {
    margin-left: 1.5em;
}
@media (max-width: 350px) {
    .gwu-content ul.fa-ul {
        margin-left: .5em;
    }
}

.gwu-content ul.fa-ul li {
    margin: .5em 0;
}

.gwu-content ul.fa-ul li a {
    border: none;
}

.gwu-content ul.fa-ul li i:first-child {
    margin-right: 10px;
    color: white;
}

/* Landing */

.gwu-landing {
    min-height: 100vh;
    width: 100%;
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    justify-content: center;
    align-items: stretch;
}

.gwu-landing-content {
    border: 10px solid white;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gwu-landing-hand {
    margin-bottom: -1px;
}

@media (max-width: 500px) {
    .gwu-landing-hand {
        width: 250px;
    }
}

@media (max-width: 400px) {
    .gwu-landing-hand {
        width: 200px;
    }
}

.gwu-landing-text {
    flex-grow: 1;
    font-family: Gotham;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    text-align: center;
    margin-bottom: 30px;
    padding: 0 20px;
}

.gwu-landing-text h1 {
    font-size: 5em;
    margin-bottom: .5em;
    line-height: 1em;
}

@media (max-width: 830px) {
    .gwu-landing-text h1 {
        font-size: 3em;
    }
}

.gwu-landing-text p {
    color: #ababab;
    max-width: 500px;
    display: block;
    margin: auto;
}

.gwu-landing-text b {
    color: white;
}

.gwu-landing-buttons {
    margin-top: 50px;
}

.gwu-landing-button {
    display: inline-block;
    padding: 1em 2em;
    border: 3px solid white;
    margin: 0 10px;
    text-decoration: none;
    color: white;
}

@media (max-width: 600px) {
    .gwu-landing-buttons {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
    }
    .gwu-landing-button {
        display: block;
        margin: auto;
        margin: 0 0 10px 0;
    }
}

.gwu-landing-button.is-primary {
    background-color: white;
    color: #212121;
}

/* Footer */

.gwu-footer {
    height: 50px;
}

/* Header */

.gwu-header {
    height: 100px;
    max-width: 700px;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 2em;
    padding: 0 30px;
}

.gwu-header-content {
    border-bottom: 10px solid white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.gwu-header-title {
    flex-grow: 1;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.gwu-header-title h1 {
    margin: .2em 0 0 0;
    line-height: 1em;
    font-family: Gotham, sans-serif;
}

.gwu-header-title h1 a {
    text-decoration: none;
    color: inherit;
}

.gwu-header-hand {
    height: 90px;
    margin-bottom: -1px;
}

@media (max-width: 340px) {
    .gwu-header-hand {
        display: none;
    }
}
