{{ define "main" }}
    <div class="gwu-landing">
        <div class="gwu-landing-content">
            {{- partial "nav.html" . -}}
            <div class="gwu-landing-text">
                <div>
                    <h1>{{ $.Site.Title }}</h1>
                    <p>
                        Somos la división española de <b>Game Workers Unite</b>, una organización <b>horizontal</b> de personas dedicadas a <b>defender los derechos de los trabajadores</b> en la industria del <b>videojuego</b>.
                    </p>
                    <div class="gwu-landing-buttons">
                        <a href="#about" class="gwu-landing-button"><i class="fas fa-book"></i> Saber más</a>
                        <a href="{{ $.Site.Params.inscriptionUrl }}" class="gwu-landing-button is-primary"><i class="fas fa-fist-raised"></i> Inscripción</a>
                    </div>
                </div>
            </div>
            <img class="gwu-landing-hand" src="/images/gwuhand.svg">
        </div>
    </div>

    <div class="gwu-content is-mid">
        <h2 id="about">Sobre GWU España</h2>
        <p>
            Todavía no somos un sindicato, pero estamos trabajando duro para <b>formar uno</b>.
        </p>
        <p>
            España alberga gran cantidad de estudios, tanto indies como AAA, pero aún así <b>carece de una industria sólida y respetuosa con el desarrollador</b>.
        </p>
        <p>
            Los trabajadores unidos <b>somos una fuerza imparable</b>, y podemos lograr mejores condiciones laborales y reconocimiento con el apoyo mutuo.
        </p>

        <h2>¡Involúcrate!</h2>
        <p>
            Si quieres unirte a nosotros, rellena nuestro <a href="{{ $.Site.Params.inscriptionUrl }}">formulario de inscripción</a>.
        </p>
        <p>
            Si tienes dudas sobre la organización, o simplemente quieres seguir nuestro desarrollo, utiliza alguno de los siguientes canales:
        </p>
        <ul class="fa-ul">
            <li><a href="/recursos"><i class="fas fa-book"></i>Información y Recursos</a></li>
            <li><a href="mailto:{{ $.Site.Params.contactEmail }}"><i class="fas fa-envelope"></i>{{ $.Site.Params.contactEmail }}</a></li>
            <li><a href="https://twitter.com/{{ $.Site.Params.twitterSpain }}"><i class="fab fa-twitter"></i>Twitter de GWU España</a></li>
            <li><a href="https://twitter.com/{{ $.Site.Params.twitterInternational }}"><i class="fab fa-twitter"></i>Twitter de GWU International</a></li>
        </ul>
    </div>
{{ end }}
